# MaChAmp
machamp/logs
machamp/__pycache__/
machamp/*.py[cod]
machamp/*swp
machamp/ud-treebanks-v2.9.tgz
machamp/wikiextractor
machamp/crossvalidation-output

# UIE
uie/hf_models
uie/pd_models
uie/runs
uie//models
uie/*.lock
uie/finetuned_models
uie/results
temporal-data/scripts/uie-conversion-scripts/data_config/entity

# Temporal data
temporal-data/entity/my_converted_datasets

# mac
.DS_Store

# env
/.vscode
/.idea
**/__pycache__
*.pyc
.pytest_cache